<a href="https://colab.research.google.com/github/Elmira42/Lovely-Bird/blob/master/Elmira_McBride_1_2_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# 02 - Python Variables & Data Types
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

## Part 1: Variables

### 1.1 Create three numerical variables (ints and/or floats) and add them together. At least one of your variables must hold a negative value.

In [0]:
1+3

4

In [0]:
4**.3

1.515716566510398

In [0]:
50-60

-10

### 1.2 Write a sentence in five parts, assign each part to a variable, then concatenate them all together. Account for spacing!

In [0]:
r = 'JR will always be'

In [0]:
x = ' the one for'

In [0]:
z = ' Me'

In [0]:
t = ' until we are '

In [0]:
k =  103

In [23]:
r + x + z + t + str (k)

'JR will always be the one for Me until we are 103'

### 1.3 We need to calculate Joey's body mass index. Here's the formula for BMI:  

>$\frac{Weight(kg)}{Height(m)^2} = BMI$  

Joey is 1.82 meters tall and weighs 78 kg. Create a variable for his height, weight, and BMI by combining the first two.

In [0]:
w = 78

In [0]:
h = 1.82

In [0]:
BMI = w / h

In [31]:
BMI

42.857142857142854

### 1.4 Now calculate Susie's BMI.
Susie is 1.63 meters tall and weighs 59 kg. Calculate her BMI by changing the values of the variables you created for Joey. It's easier than creating all new variables, right?

In [0]:
w = 59

In [0]:
h = 1.63

In [0]:
BMI = w / h

In [35]:
BMI

36.19631901840491

## Part 2: Data Types

### 2.1 What is the data type of the following variables?

In [0]:
a = -91
b = 12.0222
c = True
d = "Loosey goosey"

In [42]:
type(a)

int

In [43]:
type(b)

float

In [44]:
type(c)

bool

In [45]:
type(d)

str

### 2.2 How do strings behave differently than integers or floats?

*Write your answer below this line*: 

---
Strings are parts of phrases and intergers and floats are numbers.You can add numbers together to concatenate them but not numbers and strings because they have different values.

### 2.3 Create one variable holding a string and another variable holding a float. Concatenate the two together.

In [0]:
x = ' I like my milk to be '

In [0]:
y = 8.9

In [50]:
x + str(y)

' I like my milk to be 8.9'

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_1_2): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get shareable link
3.  Set condition to: "Anyone with the link can comment"
4.  TBD